
#exibe_contas_importadas {
    margin-top: 30px;
    margin-left: 50%;
}

#tituloContasImportadas {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#campo_de_consulta {
    text-align: center;
}