
.campoData {
    margin-left: 20%;
    width: 7%;
    display: inline-block;
}

.campoCodigo {
    width: 7%;
    display: inline-block;
}

.campoTipo {
    width: 7%;
    display: inline-block;
}

.campoValor {
    width: 7%;
    display: inline-block;
}

.campoDescricao {
    width: 25%;
    display: inline-block;
}