
.link {
    display: inline-block;
    /* background-color: aqua; */
    width: 60%;
}

#inicial {
    display: inline-block;
    width: 20%;
}

#contas {
    display: inline-block;
    width: 20%;
}

#importacao {
    display: inline-block;
    width: 20%;
}