.link {
    display: inline-block;
    background-color: aqua;
    width: 80%;
}

#inicial {
    display: inline-block;
    width: 5%;
}

#contas {
    display: inline-block;
    width: 5%;
}

#importacao {
    display: inline-block;
    width: 6%;
}

#plano_contas {
    display: inline-block;
    width: 10%;
}

#contas_importadas {
    display: inline-block;
    width: 10%;
}

#contas_importadas {
    display: inline-block;
    width: 10%;
}

#relatorio_join {
    display: inline-block;
    width: 10%;
}