
.form_consulta {
    margin-top: 30px;
}

#titulo_mes {
    display: inline-block;
    margin-left: 50%;
}

.mes_numero {
    display: inline-block;
    width: 10%;
}

.dia_numero {
    display: inline-block;
    width: 10%;
}

.ano_numero {
    display: inline-block;
    width: 15%;
}