<div class="container-fluid">
	<div class="row logoFluxojojn">
		<div class="col-md-4">
			<div class="fluxojoin"><img src="imgs/fluxojoin.png"></div>
		</div>
	</div>
	<div class="col-md-4" ng-controller="cadastroCtrl">
		<form name="registerForm">
			Nome da empresa <br>
			<input class="form-control" ng-model="empresa.nome" type="text">
			Endereço <br>
			<input class="form-control" ng-model="empresa.endereco" type="text">
			Telefone <br>
			<input class="form-control" ng-model="empresa.telefone" type="text">
			Cidade <br>
			<input class="form-control" ng-model="empresa.cidade" type="text">
			UF <br>
			<select class="form-control" ng-model="empresa.uf" id="">
				<option value="AC">Acre</option>
				<option value="AL">Alagoas</option>
				<option value="AP">Amapá</option>
				<option value="AM">Amazonas</option>
				<option value="BA">Bahia</option>
				<option value="CE">Ceará</option>
				<option value="ES">Espírito Santo</option>
				<option value="GO">Goiás</option>
				<option value="MA">Maranhão</option>
				<option value="MT">Mato Grosso</option>
				<option value="MS">Mato Grosso do Sul</option>
				<option value="MG">Minas Gerais</option>
				<option value="PA">Pará</option>
				<option value="PB">Paraíba</option>
				<option value="PR">Paraná</option>
				<option value="PE">Pernambuco</option>
				<option value="PI">Piauí</option>
				<option value="RJ">Rio de Janeiro</option>
				<option value="RN">Rio Grande do Norte</option>
				<option value="RS">Rio Grande do Sul</option>
				<option value="RO">Rondônia</option>
				<option value="RR">Roraima</option>
				<option value="SC">Santa Catarina</option>
				<option value="SP">São Paulo</option>
				<option value="SE">Sergipe</option>
				<option value="TO">Tocantins</option>
				<option value="DS">Distrito Federal</option>
			</select>
			CNPJ <br>
			<input class="form-control" ng-model="empresa.cnpj" type="text">
			IE <br>
			<input class="form-control" ng-model="empresa.ie" type="text">
			Usuário <br>
			<input class="form-control" ng-model="empresa.usuario" type="text">
			E-mail <br>
			<input class="form-control" ng-model="empresa.email" type="email">
			Senha <br>
			<input class="form-control" ng-model="empresa.senha" type="password">

			<button class="btn btn-success" ng-click="cadastrar(empresa)">Cadastrar</button>
		</form>
	</div>
</div>