<style type="text/css">

</style>
<div class="container-fluid" ng-controller="contas_importadasCtrl">
	<div class="row logoFluxojojn">
		<div class="col-md-6">
			<div class="custojoin">
				<!-- <img src="imgs/fluxojoin.png"> -->
				Custojoin
			</div>
		</div>
		<div class="col-md-3 nomeEmpresa">
			<h4>{{empresa}}</h4>
		</div>
		<div class="col-md-3 nomeUsuario">
			<h4>Olá, {{usuario}}</h4>
		</div>
	</div>

	<div ng-include="'views/links.html'"></div>
	
	<div class="row">
		<div class="col-md-4">
			<table class="table" id="exibe_contas_importadas">
				<thead>
				  <tr>
					<th scope="col">Data</th>
					<th scope="col">Código</th>
					<th scope="col">Tipo</th>
					<th scope="col">Valor</th>
					<th scope="col">Descrição</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="ci in contas_importadas">
					<td width="150">{{ci.data}}</td>
					<td>{{ci.codigo}}</td>
					<td>{{ci.tipo}}</td>
					<td>{{ci.valor}}</td>
					<td>{{ci.descricao}}</td>
				  </tr>
				</tbody>
			  </table>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
	</div>
</div>