<style type="text/css">

</style>
<div class="container-fluid" ng-controller="InicialCtrl">
	<div class="row logoFluxojojn">
		<div class="col-md-6">
			<div class="fluxojoin"><img src="imgs/fluxojoin.png"></div>
		</div>
		<div class="col-md-3 nomeEmpresa">
			<!-- <h4>{{empresa}}</h4> -->
		</div>
		<div class="col-md-3 nomeUsuario">
			<h4>Olá, {{empresa}}</h4>
		</div>
	</div>
	<!-- <div class="links">
		<div id="inicial">
			<a href="#/inicial">Inicial</a>
		</div>
		<div id="contas">
			<a href="#/contas">Contas</a>
		</div>
		<div id="importacao">
			<a href="#/importacao">Importação</a>
		</div>
		<div id="plano_contas">
			<a href="#/plano_contas">Plano de contas</a>
		</div>
	</div> -->

	<div ng-include="'views/links.html'"></div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="infos">
				<div class="saldoAtual">
					Saldo
				</div>
				<div class="valorEntrada">
					Previsão entrada
				</div>
				<div class="valorSaida">
					Previsão saída
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
	</div>
</div>