<style type="text/css">

</style>
<div class="container-fluid" ng-controller="contas_importadasCtrl">
	<div class="row logoFluxojojn">
		<div class="col-md-6">
			<div class="custojoin">
				<!-- <img src="imgs/fluxojoin.png"> -->
				Custojoin
			</div>
		</div>
		<div class="col-md-3 nomeEmpresa">
			<h4>{{empresa}}</h4>
		</div>
		<div class="col-md-3 nomeUsuario">
			<h4>Olá, {{usuario}}</h4>
		</div>
	</div>

	<div ng-include="'views/links.html'"></div>
	
	<div class="row">
		<div class="col-md-6" ng-controller="relatoriosCtrl">
            <form name="consulta" class="form_consulta">
                <select class="form-control mes_numero" name="mes" ng-model="data.mes" id="">
                    <option value="01">Jan</option>
                    <option value="02">Fev</option>
                    <option value="03">Mar</option>
                    <option value="04">Abr</option>
                    <option value="05">Mai</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Ago</option>
                    <option value="09">Set</option>
                    <option value="10">Out</option>
                    <option value="11">Nov</option>
                    <option value="12">Dez</option>
                </select>
                <select class="form-control ano_numero" name="mes" ng-model="data.ano" id="">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
                <button class="btn btn-success" ng-disabled="consulta.$invalid" ng-click="consultar(data)">Consultar</button>
            </form>

		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
	</div>
</div>