.formSubAdmin{
	text-align: center;
}

.formSelect{
	width: 15%;
	display: inline-block;
	margin-top: 60px;
}
.formInput{
	width: 30%;
	display: inline-block;
	margin-top: 60px;
}

.botaoSalvarSubcate{
	margin-top: 60px;
}

.tableCateSubcate{
	margin-top: 30px;
	width: 40%;
	margin-left: 25%;
}

.botaoVoltarAreaAdmin{
	width: 5%;
	margin-left: 95%;
}

#codCategoria {
	width: 200px;
}

#categoria {
	width: 150px;
}

#codSubcategoria {
	width: 200px;
}

#subcategoria {
	width: 150px;
}