
<div class="container-fluid">
	<div class="row logoFluxojojn">
		<div class="col-md-12">
			<div class="fluxojoin"><img src="imgs/fluxojoin.png"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-default botaoVoltarAreaAdmin" href="#/areaadmin">Voltar</a>
		</div>
	</div>
	<div class="row" ng-controller="subcategoriaAdminCJCtrl">
		<div class="col-md-12 formSubAdmin">
			<form name="formSubcate">
				<select class="form-control formSelect" name="categoria" ng-model="subcategoria.categoria" required>
					<option ng-repeat="cate in categories" value="{{cate.codecategory}}">{{cate.categoryname}}</option>
				</select>
				<input class="form-control formInput" type="text" name="subcategoria" ng-model="subcategoria.subcategoria" placeholder="Subcategoria">
				<a class="btn btn-success botaoSalvarSubcate" ng-disabled="formSubcate.$invalid" ng-click="salvarSubcategoria(subcategoria)">Salvar</a>
			</form>
		</div>
	<!-- </div>
	<div class="row" ng-controller="subcategoriaAdminCtrl"> -->
		<div class="col-md-12 tableCateSubcate">
		<table width="500">
			<thead>
				<tr>
					<th>Categoria</th>
					<th>Subcategoria</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr ng-repeat="subcate in categories">
					<td>{{subcate.codecategory}}</td>
					<td>{{subcate.categoryname}}</td>
					<td>{{subcate.idcategory}}</td>
				</tr> -->
			</tbody>
		</table>
		</div>
	</div>
</div>
